html, body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    
}
body{
    background-color: #e62452;
    margin:0;
    padding:0;
}
img{
    padding:0;
    margin:0;
}
#mainContainer{
    height:800px;
    position: relative;
}

#mainMess{
    color:white;
    font-size:60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 60px;
    margin-left:20%;
}
#tagline{
    color:white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: -10px;
    margin-left:22%;
}
.container{
    border-top-style: dotted;
    border-top-color: aliceblue;
    border-top-width: 2px;
}

.center{
    margin: auto;
    width: 80%;
    margin-top:30%;
}
footer{
    display:block;
}
.center2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    margin-left:50%;
    margin-top: 15%;
}
footer{
    height:200px;
    margin-left: 45%;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: bold;
}
.linkBox{
    border-top-color: aliceblue;
    width:100px;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30%;
    margin-top:20px;
}

ul{
     list-style-type: none;
     padding:0;
     margin:0;
}

.projectList{
    padding-top:20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.year{
    padding-top:20px;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 80px;
    margin-top: -10px;
}


.img-responsive{
    max-width:100%;
    height:auto;
    display:block;
    overflow:hidden;
}


/*Links*/
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: #fff34f;
}

/* mouse over link */
.item1 a:hover {
    color: #10007f;
}
.item2 a:hover{
    color:#EB170C;
}
.item3 a:hover {
    color:#d40044;
}
a:link{
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    #mainMess{
        margin-left: 0;
    }
    #tagline{
        margin-left: 0 ;
    }
    .center{
        margin-left:2%;
        
    }
    footer{
        height:100px;
        margin-left: 30%;
    }
    /* .center2{
        margin: 0;
        width: 0;
    } */
}